:root {
  font-size: 18px;
}

.main-article__heading{
  width: 50%;
  margin: auto;

  position: relative;

  background-color: pink;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
/* .main-article__heading::before{
  content: "";
  display: block;
  height: 20px;
  width: 20%;
  margin: auto;
  background-color: pink;
  font-size: 0.5em;
}
.main-article__heading::after{
  content: "!!!";
  display: block;
} */

.main-article__heading::before,
.main-article__heading::after{
  /* content: url(./../images/pattern.jpeg); */
  /* content: url(./../icons/white-balance-sunny.svg); */
  content: '🔗';
  display: inline-block;
  width: 40px;

  position: absolute;
  top: -4px;

  color: red;
}
.main-article__heading::before{
  right: 100%;
}
.main-article__heading::after{
  left: 100%;
}

.main-article__content::first-letter {
  padding: 0.1em;
  margin-left: 1em;

  background-color: yellow;
  color: magenta;

  font-size: 3rem;
  font-weight: 900;
  font-family: monospace;
}
.main-article__content::first-line {
  /* background-color: magenta; */
  /* background-image: url(./../images/pattern.jpeg); */
  /* background: #ffffff;
  background: #ff3030; */
  /* background: -moz-radial-gradient(center, ellipse cover,  #ff3030 12%, #ff3030 12%, #ff3030 47%, #ffffff 47%, #ffffff 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #ff3030 12%,#ff3030 12%,#ff3030 47%,#ffffff 47%,#ffffff 100%);
  background: radial-gradient(ellipse at center,  #ff3030 12%,#ff3030 12%,#ff3030 47%,#ffffff 47%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#ffffff',GradientType=1 ); */
  
  
  /* background-repeat: repeat;
  background-size: 40px 40px;
  background-position: left top; */
  color: yellow;

  text-shadow: -5px 5px 0px #00e6e6;

  font-size: 1.8rem;
  line-height: 2em;
}
.main-article__content::selection {
  background-color: green;
  color: wheat;
}
